@font-face {
    font-family: "Montserrat";
    src: url(../../font/Montserrat/static/Montserrat-Regular.woff2)format('woff2');
}
/* @font-face {
    font-family: "Poppins";
    src: url(../../font/Poppins/Poppins-Regular.ttf);
} */

:root {
--yo_font: 'Montserrat', sans-serif;
/*  --yo_color: #303C6C; */
--yo_color: #2C3E50;
--yo_bg_color_2: #f0c040;
--yo_bg_color_3: #EA1D8E;


}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: var(--yo_font);

}


img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

html,
body {
width: 100%;
height: 100%;
}
.main{
    overflow: hidden;
}



a {
padding: 0;
margin: 0;
color: #000000;
text-decoration: none;
}

.page_1 {
width: 100%;
min-height: 100vh;
position: relative;
}