* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}





.page_1 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

/*
.page_1 .img_contener {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vw;
  gap: 2vw;
}

.page_1 .img_contener .box_img {
  width: 47%;
  border-radius: 15px;
  overflow: hidden;
border: 0.1px solid silver;

}

.page_1 .img_contener .tital
{
  
  width: 100%;
  padding: 2vw 3vw;
  font-size: 1em;
  
  
}
*/
/*
.img_contener {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
  padding: 2vw;
}

.img_contener .box_img  {
  border-radius: 5px;
  overflow: hidden;
  border: 0.1px solid silver;
}



.img_contener .box_img img {
  width: 100%;
  height: auto;
  
}

.img_contener .tital {
  padding: 2vw 3vw;
  font-size: 1em;
  font-weight: 700;
}

*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d9dee3;
  border-radius: 0.5rem;
}





.gallery {
  margin: 2vw;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  position: relative;
  margin-bottom: 1.4vw;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.gallery .pics img {
  border-radius: 15px;
  
}



.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
  
  .gallery .pics button {
    bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 2vw 3.5vw;
    outline: none;
    border-radius: 15px;
    border: none;
    color: #000000;
    background: #EF3A88;
  }
  
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  
  
  
}